bin
.cache
include/Relations.def
include/Relations-parenthesize.str
include/Relations-Permissive.def
include/Relations.generated.pp.af
include/Relations.packed.esv
include/Relations.pp.af
include/Relations.rtg
include/Relations.str
include/Relations.tbl
include/relations.rtree
include/relations.ctree
include/relations.ctree.dep
include/relations.jar
include/relations-java.jar
editor/java/trans
editor/*.generated.*
syntax/Relations*.generated.esv
syntax/Relations.generated.pp
trans/*.pp.generated.str
trans/types.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/analysis
lib/editor
lib/index
lib/nabl
lib/properties
lib/task
lib/tmpl
lib/types
lib/*.generated.str
lib-refactoring/*.generated.str
*.aterm
*/*.aterm
*/*/*.aterm
*/*/*/*.aterm
*/*/*/*/*.aterm
syntax/*.sdf
/include
