.error-msg {
	color: red;
}

.ice-attr-name {
	font-weight: bold;
	margin-right: 5pt;
	padding: 5pt;
	border: black dashed 1pt;
	width: 150pt;
}

.ice-attr {
	border: black solid 1pt;
	margin: 0;
}

.ice-attr div {
	display: inline-block;
}

.default-output {
	margin-left: 5pt;
}

