templates

Expression.Query = <
<From>
<Join?>
<Where?>
>

From.From = <from <EntityType>>
Join.Join = <join <EntityType>>
Where.Where = <where <EntityType>.<AttributeName> = x>

AttributeName.AttributeName = <<ID>>