templates

// entities with attributes (only primitive types)
Model.Entity = <
entity <ID> {
	<Attribute*>
}
>

Attribute.Attribute = <<ID> : <PrimitiveType>>
PrimitiveType.PrimitiveType = <<BasicType>>


// relations with members and attributes
Model.Relation = <
relation <ID> {
	<RoleOrAttribute*>	
}
>

RoleOrAttribute = <<Role>>
RoleOrAttribute = <<Attribute>>

Role.Role = <<EntityType> <Multiplicity> <ID?>>
EntityType.EntityType = <<ID>>
Multiplicity.One	 		= <1>
Multiplicity.ZeroOrOne		= <?>
Multiplicity.OneOrMore		= <+>
Multiplicity.ZeroOrMore		= <*>

