templates

Start.Module = <
module <ID>

<Definition*>

<Expression*>
>

%% entities with attributes (only primitive types)
Definition.Entity = <
entity <ID> {
	<Attribute*>
}
>

Attribute.Attribute = <<ID> : <PrimitiveType>>
PrimitiveType.PrimitiveType = <<BasicType>>

%% relations with members and attributes
Definition.Relation = <
relation <ID> {
	<MemberOrAttribute*>	
}
>

MemberOrAttribute = <<Member>>
MemberOrAttribute = <<Attribute>>

Member.Member = <<EntityType> <Multiplicity> <ID?>>
EntityType.EntityType = <<ID>>
Multiplicity.One	 		= <1>
Multiplicity.ZeroOrOne		= <?>
Multiplicity.OneOrMore		= <+>
Multiplicity.ZeroOrMore		= <*>

