
/* Generic CSS */

html{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height:100%;  
  overflow-y: scroll;  
}
body {
  height:100%;
  margin: 0;
  padding: 0;
}
textarea { 
  height : 100px;
  width : 200px;
}
select {
  width : 206px;
}
input[type="text"]{
  width : 200px;
}
input[type="file"]{
  width : 200px;
}
input:not([type]) {
  width : 200px;
}
img {
  border-width: 0px;
}
span.highlightcontent {
  font-weight: bold;
}

/* input of List */
.sortable { list-style-type: none; margin: 0; padding: 0; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; width: 165px; }
.sortable li span.ui-icon-arrowthick-2-n-s { position: absolute; margin-left: -1.3em; }
.sortable li span.ui-icon-close { float: right; }

/* CSS for Example WebDSL Project */

div#pagewrapper {
  /* positioning */
  margin: 0 auto -30px; /* negative margin to give footer room */
  min-height: 100%;
}
div#content { 
  /* positioning */
  padding: 10px;
}
div#header {
  /* text and colors */
  background-color: white;
}
div#header p {
  /* positioning */
  padding: 20px 10px;
  /* text and colors */
  font-size: 24px;
  color: white;
  font-weight: bold;
}
div#clear{
  /* positioning */
  clear:both;  
}
div#push{
  /* positioning */
  height: 50px;  
}
div#footer {
  /* positioning */
  height: 30px; /* same as negative margin-bottom on #pagewrapper */
  /* text and colors */
  background-color: #999;
}
span#footercontent{
  /* positioning */
  display: block;  
  float: right;
  line-height: 30px;
  padding-right: 20px;
  /* text and colors */
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight:bold;
  color:white;
}
  span#footercontent a{
    /* text and colors */
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight:bold;
  color:white;
  text-decoration: none;  
  }
div#navbar {
  /* positioning */
  width: 100%;
  /* text and colors */
  background-color: #999;
  color: White;
  font-weight: bold;
  font-size: 13px;
  overflow-x: hidden;
}
span.navbaritem a {
  /* positioning */
  display: inline-block;
  height: 30px;
  padding: 0 15px;
  /* text and colors */
  line-height: 30px; /* center text vertically, because height==line-height */
  color: White;
  background-color: #999; 
  text-decoration: none;
}
span.navbaritem a:hover {
  /* text and colors */
  background-color: #333;
  color: #fff;
}

/* CSS for new CRUD ui */

.error-msg {
  color: red;
}

.ice-form {
  padding: 10px;
  border: 1px solid #999;
}

.ice-form2 {
  padding: 10px;
  border: 1px solid #999;
  border-top-width: 0px;
  padding-left: 165px;
}

.ice-attr-name {
  margin-right: 5px;
  width: 150px;
  vertical-align: top;
}

.ice-attr {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.ice-attr div {
  display: inline-block;
}

.default-output {
  margin-left: 5px;
}

.ice-attr ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.ice-attr li {
  list-style-type: none;
}

.ice-rel-val {
  width: 206px;
}

.ice-rel-edit {
  margin-left: 5px;
  vertical-align: top;
}

.ice-rel-val a {
  color: black;
}

.ice-rel-edit a {
  color: black;
  font-size: 11px;
  text-decoration: none;
  padding: 2px 6px 2px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.ice-ent {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.ice-ent-name {
  margin-right: 5px;
  width: 206px;
  vertical-align: top;
  display: inline-block;
}

.ice-ent-name a {
  color: black;
}

a.ice-ent-create {
  color: black;
  font-size: 11px;
  text-decoration: none;
  padding: 2px 6px 2px;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-bottom: 10px;
  display: inline-block;
}

.non-required-bool {
  display: inline-block;
  width: 206px;
}
